Student Table

In [552]:
import pandas as pd
####fetching data from qb"
import psycopg2
try:
    connection = psycopg2.connect(
        dbname='prod',
        user='sushila_verma',
        password='Sushila_verma_pw1!',
        host='allendigital-prod.cze9tl5zevtk.ap-south-1.redshift.amazonaws.com',
        port='5439'
    )
    print("Connection established successfully!")
except Exception as e:
    print("Error:", e)
cursor = connection.cursor()
query = '''Select * from analytics.dummy_attendance_tobedeleted
'''
cursor.execute(query)
result = cursor.fetchall()
# cursor.close()
# connection.close()
# print("Connection closed.")

##creating dataframe
df = pd.DataFrame(result)
# adding column name to the respective columns
df.columns =['student_id','batch_id','center','student_name','enrollment_no','gender','student_stream','course_name'
             ,'student_class','questions_60d','questions_30d','questions_10d','questions_7d','attendance_7d','attendance_10d','attendance_30d', 'attendance_60d', 'attendance_90d', 'class_count','faculty_count','avg_actual_class_duration','avg_student_duration','avg_class_duration','attendance_per',]
df.head()

Connection established successfully!

,student_id,batch_id,center,student_name,enrollment_no,gender,student_stream,course_name,student_class,questions_60d,questions_30d,questions_10d,questions_7d,attendance_7d,attendance_10d,attendance_30d,attendance_60d,attendance_90d,class_count,faculty_count,avg_actual_class_duration,avg_student_duration,avg_class_duration,attendance_per
0,1290116,101802,KOTA,TANISH MANGLA,1000688876,male,PRE-MEDICAL,ACHIEVER,14,0.0,0.0,0.0,0.0,0.0,34.0,75,142,81,326,14,NaN,NaN,84,81
1,1342611,104907,ALLEN DIGITAL,DIKSHA,1002164048,female,PRE-MEDICAL,ACHIEVER,14,81.0,81.0,81.0,81.0,100.0,92.0,91,91,91,49,5,81.0,76.0,68,91
2,1030160,88346,ALLEN DIGITAL,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,46.0,45.0,43,43,43,99,6,86.0,85.0,71,43
3,1342799,109069,ALLEN DIGITAL,HETVI ASHISH SONI,1002164153,female,PRE-MEDICAL,SPARK PRO LIVE PHASE-I: GUJARATI,13,NaN,NaN,NaN,NaN,91.0,87.0,89,89,89,55,6,72.0,65.0,80,89
4,1342774,104907,ALLEN DIGITAL,HARSHITA MALAV,1002120774,female,PRE-MEDICAL,ACHIEVER,14,NaN,NaN,NaN,NaN,0.0,0.0,4,4,4,49,5,81.0,1.0,68,4

importing G Sheet

In [553]:
pip install pygsheets

Requirement already satisfied: pygsheets in ./anaconda3/lib/python3.10/site-packages (2.0.6)
Requirement already satisfied: google-api-python-client>=2.50.0 in ./anaconda3/lib/python3.10/site-packages (from pygsheets) (2.104.0)
Requirement already satisfied: google-auth-oauthlib>=0.7.1 in ./anaconda3/lib/python3.10/site-packages (from pygsheets) (1.1.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5 in ./anaconda3/lib/python3.10/site-packages (from google-api-python-client>=2.50.0->pygsheets) (2.12.0)
Requirement already satisfied: httplib2<1.dev0,>=0.15.0 in ./anaconda3/lib/python3.10/site-packages (from google-api-python-client>=2.50.0->pygsheets) (0.22.0)
Requirement already satisfied: google-auth<3.0.0.dev0,>=1.19.0 in ./anaconda3/lib/python3.10/site-packages (from google-api-python-client>=2.50.0->pygsheets) (2.23.3)
Requirement already satisfied: uritemplate<5,>=3.0.1 in ./anaconda3/lib/python3.10/site-packages (from google-api-python-client>=2.50.0->pygsheets) (4.1.1)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in ./anaconda3/lib/python3.10/site-packages (from google-api-python-client>=2.50.0->pygsheets) (0.1.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in ./anaconda3/lib/python3.10/site-packages (from google-auth-oauthlib>=0.7.1->pygsheets) (1.3.1)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in ./anaconda3/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=2.50.0->pygsheets) (2.28.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in ./anaconda3/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=2.50.0->pygsheets) (4.24.4)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in ./anaconda3/lib/python3.10/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=2.50.0->pygsheets) (1.61.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in ./anaconda3/lib/python3.10/site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=2.50.0->pygsheets) (5.3.1)
Requirement already satisfied: rsa<5,>=3.1.4 in ./anaconda3/lib/python3.10/site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=2.50.0->pygsheets) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in ./anaconda3/lib/python3.10/site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=2.50.0->pygsheets) (0.2.8)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in ./anaconda3/lib/python3.10/site-packages (from httplib2<1.dev0,>=0.15.0->google-api-python-client>=2.50.0->pygsheets) (3.0.9)
Requirement already satisfied: oauthlib>=3.0.0 in ./anaconda3/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.1->pygsheets) (3.2.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in ./anaconda3/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client>=2.50.0->pygsheets) (0.4.8)
Requirement already satisfied: charset-normalizer<3,>=2 in ./anaconda3/lib/python3.10/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=2.50.0->pygsheets) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.10/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=2.50.0->pygsheets) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.10/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=2.50.0->pygsheets) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.10/site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client>=2.50.0->pygsheets) (1.26.14)
Note: you may need to restart the kernel to use updated packages.

In [554]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

# Set the path to your credentials JSON file
credentials_path = '/Users/sushilaverma/Downloads/project-allen-402506-88848b400419.json'

# Connect to Google Sheets using your credentials
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name(credentials_path, scope)
client = gspread.authorize(creds)

# Open the Google Sheet by title
sheet = client.open('behaviour shaping')

# Select a specific worksheet by title
worksheet = sheet.worksheet('Rule_Template')

# Fetch data from the worksheet
data = worksheet.get_all_records()

# Print the data
for row in data:
    print(row)

{'Rule_id': 1011, 'Template_id': 1, 'Rule_Template': 'Hi <$student_name$>, Your atttendance is lower than usual: <$attendance_7d$>%', 'Default values': "Student_id: 'There'", 'Ideal Value': 30, 'rule_boolean': "attendance_7d<=30 and student_stream=='PRE-MEDICAL'", 'Meta Data': "['attendance_7d','batch_id','student_stream']"}
{'Rule_id': 1012, 'Template_id': 2, 'Rule_Template': 'Hi <$student_stream$> , is scheduled at evening for <$class_count$>', 'Default values': "class_name: 'Scheduled Today'", 'Ideal Value': 40, 'rule_boolean': 'class_count>0', 'Meta Data': "['class_count','batch_id']"}
{'Rule_id': 1013, 'Template_id': 3, 'Rule_Template': 'There are many <$faculty_count$> who are having <$avg_student_duration$>', 'Default values': '', 'Ideal Value': 0, 'rule_boolean': "class_count>0 or student_stream=='PRE-MEDICAL'", 'Meta Data': "['attendance_10d','batch_id','student_stream','faculty_count']"}
{'Rule_id': 1014, 'Template_id': 4, 'Rule_Template': 'Hi <$student_name$>, you have attempted <$questions_30d$> in last 30 Days', 'Default values': '', 'Ideal Value': 0, 'rule_boolean': 'questions_30d>0', 'Meta Data': "['questions_30d','student_id']"}
{'Rule_id': 1015, 'Template_id': 5, 'Rule_Template': '', 'Default values': '', 'Ideal Value': '', 'rule_boolean': '', 'Meta Data': ''}

In [555]:
pip install oauth2client

Requirement already satisfied: oauth2client in ./anaconda3/lib/python3.10/site-packages (4.1.3)
Requirement already satisfied: httplib2>=0.9.1 in ./anaconda3/lib/python3.10/site-packages (from oauth2client) (0.22.0)
Requirement already satisfied: rsa>=3.1.4 in ./anaconda3/lib/python3.10/site-packages (from oauth2client) (4.9)
Requirement already satisfied: pyasn1-modules>=0.0.5 in ./anaconda3/lib/python3.10/site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: six>=1.6.1 in ./anaconda3/lib/python3.10/site-packages (from oauth2client) (1.16.0)
Requirement already satisfied: pyasn1>=0.1.7 in ./anaconda3/lib/python3.10/site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in ./anaconda3/lib/python3.10/site-packages (from httplib2>=0.9.1->oauth2client) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

In [556]:
data

[{'Rule_id': 1011,
  'Template_id': 1,
  'Rule_Template': 'Hi <$student_name$>, Your atttendance is lower than usual: <$attendance_7d$>%',
  'Default values': "Student_id: 'There'",
  'Ideal Value': 30,
  'rule_boolean': "attendance_7d<=30 and student_stream=='PRE-MEDICAL'",
  'Meta Data': "['attendance_7d','batch_id','student_stream']"},
 {'Rule_id': 1012,
  'Template_id': 2,
  'Rule_Template': 'Hi <$student_stream$> , is scheduled at evening for <$class_count$>',
  'Default values': "class_name: 'Scheduled Today'",
  'Ideal Value': 40,
  'rule_boolean': 'class_count>0',
  'Meta Data': "['class_count','batch_id']"},
 {'Rule_id': 1013,
  'Template_id': 3,
  'Rule_Template': 'There are many <$faculty_count$> who are having <$avg_student_duration$>',
  'Default values': '',
  'Ideal Value': 0,
  'rule_boolean': "class_count>0 or student_stream=='PRE-MEDICAL'",
  'Meta Data': "['attendance_10d','batch_id','student_stream','faculty_count']"},
 {'Rule_id': 1014,
  'Template_id': 4,
  'Rule_Template': 'Hi <$student_name$>, you have attempted <$questions_30d$> in last 30 Days',
  'Default values': '',
  'Ideal Value': 0,
  'rule_boolean': 'questions_30d>0',
  'Meta Data': "['questions_30d','student_id']"},
 {'Rule_id': 1015,
  'Template_id': 5,
  'Rule_Template': '',
  'Default values': '',
  'Ideal Value': '',
  'rule_boolean': '',
  'Meta Data': ''}]

In [557]:
data=pd.DataFrame(data)

In [558]:
pd.set_option('display.html.use_mathjax', False)

In [559]:
data

,Rule_id,Template_id,Rule_Template,Default values,Ideal Value,rule_boolean,Meta Data
0,1011,1,"Hi <$student_name$>, Your atttendance is lower...",Student_id: 'There',30,attendance_7d<=30 and student_stream=='PRE-MED...,"['attendance_7d','batch_id','student_stream']"
1,1012,2,"Hi <$student_stream$> , is scheduled at evenin...",class_name: 'Scheduled Today',40,class_count>0,"['class_count','batch_id']"
2,1013,3,There are many <$faculty_count$> who are havin...,,0,class_count>0 or student_stream=='PRE-MEDICAL',"['attendance_10d','batch_id','student_stream',..."
3,1014,4,"Hi <$student_name$>, you have attempted <$ques...",,0,questions_30d>0,"['questions_30d','student_id']"
4,1015,5,,,,,

In [560]:
#Cheching Student Table here 

pd.set_option('display.max_columns', None)
df

,student_id,batch_id,center,student_name,enrollment_no,gender,student_stream,course_name,student_class,questions_60d,questions_30d,questions_10d,questions_7d,attendance_7d,attendance_10d,attendance_30d,attendance_60d,attendance_90d,class_count,faculty_count,avg_actual_class_duration,avg_student_duration,avg_class_duration,attendance_per
0,1290116,101802,KOTA,TANISH MANGLA,1000688876,male,PRE-MEDICAL,ACHIEVER,14,0.0,0.0,0.0,0.0,0.0,34.0,75,142,81,326,14,NaN,NaN,84,81
1,1342611,104907,ALLEN DIGITAL,DIKSHA,1002164048,female,PRE-MEDICAL,ACHIEVER,14,81.0,81.0,81.0,81.0,100.0,92.0,91,91,91,49,5,81.0,76.0,68,91
2,1030160,88346,ALLEN DIGITAL,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,46.0,45.0,43,43,43,99,6,86.0,85.0,71,43
3,1342799,109069,ALLEN DIGITAL,HETVI ASHISH SONI,1002164153,female,PRE-MEDICAL,SPARK PRO LIVE PHASE-I: GUJARATI,13,NaN,NaN,NaN,NaN,91.0,87.0,89,89,89,55,6,72.0,65.0,80,89
4,1342774,104907,ALLEN DIGITAL,HARSHITA MALAV,1002120774,female,PRE-MEDICAL,ACHIEVER,14,NaN,NaN,NaN,NaN,0.0,0.0,4,4,4,49,5,81.0,1.0,68,4
5,1252987,99376,AHMEDABAD,JAIN JANVEE JIGNESHBHAI,1000674114,female,PRE-MEDICAL,LEADER,13,0.0,0.0,0.0,0.0,0.0,12.0,50,50,50,56,4,NaN,NaN,80,50
6,1030160,88346,SIKAR,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,NaN,NaN,0,147,33,1014,24,NaN,NaN,32,59
7,1342635,108831,ALLEN DIGITAL,ATA UR RAHMAN SYED,1002163472,male,PRE-NURTURE,"CRASH COURSE CLASS 10 CBSE Board: Sci, Math, E...",10,NaN,NaN,NaN,NaN,18.0,19.0,19,19,19,36,9,54.0,16.0,48,19
8,1298552,94278,ALLEN DIGITAL,HARINI K,1002142805,female,PRE-MEDICAL,NURTURE,11,259.0,259.0,100.0,100.0,100.0,80.0,75,118,66,169,5,93.0,55.0,83,66
9,1284442,97097,ALLEN DIGITAL,AYUKTA MUKHERJEE,1002140071,female,PRE-NURTURE,CLASS 6 FOUNDATION JEE-NEET LIVE + OLYMPIADS R...,6,545.0,445.0,279.0,230.0,75.0,60.0,54,131,60,183,14,53.0,41.0,52,63
10,1210479,89041,ALLEN DIGITAL,RIMANSANHA O NAJIAR,1002128530,male,PRE-MEDICAL,LEADER,13,799.0,599.0,200.0,200.0,68.0,54.0,64,119,65,354,5,95.0,71.0,88,62

In [561]:
# text="""Hi <student_name>, Your atttendance is lower than usual: <attendance_7d>%"""
# numbers=[]
# for x in range(len(text)):
#     if text[x]=="<":
#         numbers.append(x)
#     elif text[x]==">":
#         numbers.append(x)

In [471]:
# numbers

[3, 16, 57, 71]

In [472]:
# text[4]

's'

In [504]:
# cols=[]
# for x in range(0,len(numbers),2):
#     y=x+1
#     #print(text[numbers[x]+1:numbers[y]])
#     cols.append(text[numbers[x]+1:numbers[y]])

In [505]:
# cols

['student_name', 'attendance_7d']

In [506]:
# df[cols]

In [507]:
# text

'Hi <student_name>, Your atttendance is lower than usual: <attendance_7d>%'

In [477]:
# for x in cols:
# #     text=text.replace(x,'12345')

In [478]:
# text

'Hi <12345>, Your atttendance is lower than usual: <12345>%'

In [562]:
def final_text(text,df):
    #print(df)
    numbers=[] 
    for x in range(len(text)-1):
        if (text[x]=="<") & (text[x+1]=="$") :
            numbers.append(x+1)
        elif (text[x]=="$") & (text[x+1]==">"):
            numbers.append(x)
            cols=[]
    for x in range(0,len(numbers),2):
        y=x+1
        #print(text[numbers[x]+1:numbers[y]])
        cols.append(text[numbers[x]+1:numbers[y]])
    #print(df[cols])
    for x in cols:
        text=text.replace(x,str(df[x]))
    text=text.replace("<$","")
    text=text.replace("$>","")
    return text

In [563]:
def meta_data(meta,df):
    meta=eval(meta)
    print(meta)
    meta_json={}
    for x in meta: 
        meta_json[x]=df[x]
    return meta_json

In [564]:
# meta=data.loc[0,'Meta Data']
# meta=eval(meta)
# meta

In [565]:
data=data.head(4)
data

,Rule_id,Template_id,Rule_Template,Default values,Ideal Value,rule_boolean,Meta Data
0,1011,1,"Hi <$student_name$>, Your atttendance is lower...",Student_id: 'There',30,attendance_7d<=30 and student_stream=='PRE-MED...,"['attendance_7d','batch_id','student_stream']"
1,1012,2,"Hi <$student_stream$> , is scheduled at evenin...",class_name: 'Scheduled Today',40,class_count>0,"['class_count','batch_id']"
2,1013,3,There are many <$faculty_count$> who are havin...,,0,class_count>0 or student_stream=='PRE-MEDICAL',"['attendance_10d','batch_id','student_stream',..."
3,1014,4,"Hi <$student_name$>, you have attempted <$ques...",,0,questions_30d>0,"['questions_30d','student_id']"

In [566]:
df2=df.copy()
df2

,student_id,batch_id,center,student_name,enrollment_no,gender,student_stream,course_name,student_class,questions_60d,questions_30d,questions_10d,questions_7d,attendance_7d,attendance_10d,attendance_30d,attendance_60d,attendance_90d,class_count,faculty_count,avg_actual_class_duration,avg_student_duration,avg_class_duration,attendance_per
0,1290116,101802,KOTA,TANISH MANGLA,1000688876,male,PRE-MEDICAL,ACHIEVER,14,0.0,0.0,0.0,0.0,0.0,34.0,75,142,81,326,14,NaN,NaN,84,81
1,1342611,104907,ALLEN DIGITAL,DIKSHA,1002164048,female,PRE-MEDICAL,ACHIEVER,14,81.0,81.0,81.0,81.0,100.0,92.0,91,91,91,49,5,81.0,76.0,68,91
2,1030160,88346,ALLEN DIGITAL,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,46.0,45.0,43,43,43,99,6,86.0,85.0,71,43
3,1342799,109069,ALLEN DIGITAL,HETVI ASHISH SONI,1002164153,female,PRE-MEDICAL,SPARK PRO LIVE PHASE-I: GUJARATI,13,NaN,NaN,NaN,NaN,91.0,87.0,89,89,89,55,6,72.0,65.0,80,89
4,1342774,104907,ALLEN DIGITAL,HARSHITA MALAV,1002120774,female,PRE-MEDICAL,ACHIEVER,14,NaN,NaN,NaN,NaN,0.0,0.0,4,4,4,49,5,81.0,1.0,68,4
5,1252987,99376,AHMEDABAD,JAIN JANVEE JIGNESHBHAI,1000674114,female,PRE-MEDICAL,LEADER,13,0.0,0.0,0.0,0.0,0.0,12.0,50,50,50,56,4,NaN,NaN,80,50
6,1030160,88346,SIKAR,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,NaN,NaN,0,147,33,1014,24,NaN,NaN,32,59
7,1342635,108831,ALLEN DIGITAL,ATA UR RAHMAN SYED,1002163472,male,PRE-NURTURE,"CRASH COURSE CLASS 10 CBSE Board: Sci, Math, E...",10,NaN,NaN,NaN,NaN,18.0,19.0,19,19,19,36,9,54.0,16.0,48,19
8,1298552,94278,ALLEN DIGITAL,HARINI K,1002142805,female,PRE-MEDICAL,NURTURE,11,259.0,259.0,100.0,100.0,100.0,80.0,75,118,66,169,5,93.0,55.0,83,66
9,1284442,97097,ALLEN DIGITAL,AYUKTA MUKHERJEE,1002140071,female,PRE-NURTURE,CLASS 6 FOUNDATION JEE-NEET LIVE + OLYMPIADS R...,6,545.0,445.0,279.0,230.0,75.0,60.0,54,131,60,183,14,53.0,41.0,52,63
10,1210479,89041,ALLEN DIGITAL,RIMANSANHA O NAJIAR,1002128530,male,PRE-MEDICAL,LEADER,13,799.0,599.0,200.0,200.0,68.0,54.0,64,119,65,354,5,95.0,71.0,88,62

In [567]:
final_df=pd.DataFrame()
for x in data.index:
    #print(x)
    #col=data.loc[x,"Column_name"]
    value=data.loc[x,"Ideal Value"]
    #comparison=data.loc[x,"comparison"]
    Rule_Template=data.loc[x,"Rule_Template"]
    rule_boolean=data.loc[x,"rule_boolean"]
    metadata=data.loc[x,"Meta Data"]
    # add if any of the boolen condition is added(multiple conditions)
#     if comparison=="less":
#         df3=df2[df2[col]<value]
#     elif comparison=="greater":
#         df3=df2[df2[col]>value]
    df3=df2.query(rule_boolean)
        
    df3["message"]=df3.apply(lambda x: final_text(Rule_Template,x),axis=1)
    df3["meta_data"]=df3.apply(lambda x: meta_data(metadata,x),axis=1)
    final_df=final_df.append(df3)

['attendance_7d', 'batch_id', 'student_stream']
['attendance_7d', 'batch_id', 'student_stream']
['attendance_7d', 'batch_id', 'student_stream']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['class_count', 'batch_id']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['attendance_10d', 'batch_id', 'student_stream', 'faculty_count']
['questions_30d', 'student_id']
['questions_30d', 'student_id']
['questions_30d', 'student_id']
['questions_30d', 'student_id']

/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["message"]=df3.apply(lambda x: final_text(Rule_Template,x),axis=1)
/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["meta_data"]=df3.apply(lambda x: meta_data(metadata,x),axis=1)
/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(df3)
/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(df3)
/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(df3)
/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["message"]=df3.apply(lambda x: final_text(Rule_Template,x),axis=1)
/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["meta_data"]=df3.apply(lambda x: meta_data(metadata,x),axis=1)
/var/folders/dv/fbvqfgv53410vstnxlhqbjmm0000gp/T/ipykernel_3382/3909385613.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(df3)

In [568]:
final_df

,student_id,batch_id,center,student_name,enrollment_no,gender,student_stream,course_name,student_class,questions_60d,questions_30d,questions_10d,questions_7d,attendance_7d,attendance_10d,attendance_30d,attendance_60d,attendance_90d,class_count,faculty_count,avg_actual_class_duration,avg_student_duration,avg_class_duration,attendance_per,message,meta_data
0,1290116,101802,KOTA,TANISH MANGLA,1000688876,male,PRE-MEDICAL,ACHIEVER,14,0.0,0.0,0.0,0.0,0.0,34.0,75,142,81,326,14,NaN,NaN,84,81,"Hi TANISH MANGLA, Your atttendance is lower th...","{'attendance_7d': 0.0, 'batch_id': 101802, 'st..."
4,1342774,104907,ALLEN DIGITAL,HARSHITA MALAV,1002120774,female,PRE-MEDICAL,ACHIEVER,14,NaN,NaN,NaN,NaN,0.0,0.0,4,4,4,49,5,81.0,1.0,68,4,"Hi HARSHITA MALAV, Your atttendance is lower t...","{'attendance_7d': 0.0, 'batch_id': 104907, 'st..."
5,1252987,99376,AHMEDABAD,JAIN JANVEE JIGNESHBHAI,1000674114,female,PRE-MEDICAL,LEADER,13,0.0,0.0,0.0,0.0,0.0,12.0,50,50,50,56,4,NaN,NaN,80,50,"Hi JAIN JANVEE JIGNESHBHAI, Your atttendance i...","{'attendance_7d': 0.0, 'batch_id': 99376, 'stu..."
0,1290116,101802,KOTA,TANISH MANGLA,1000688876,male,PRE-MEDICAL,ACHIEVER,14,0.0,0.0,0.0,0.0,0.0,34.0,75,142,81,326,14,NaN,NaN,84,81,"Hi PRE-MEDICAL , is scheduled at evening for 326","{'class_count': 326, 'batch_id': 101802}"
1,1342611,104907,ALLEN DIGITAL,DIKSHA,1002164048,female,PRE-MEDICAL,ACHIEVER,14,81.0,81.0,81.0,81.0,100.0,92.0,91,91,91,49,5,81.0,76.0,68,91,"Hi PRE-MEDICAL , is scheduled at evening for 49","{'class_count': 49, 'batch_id': 104907}"
2,1030160,88346,ALLEN DIGITAL,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,46.0,45.0,43,43,43,99,6,86.0,85.0,71,43,"Hi JEE MAIN + ADVANCED , is scheduled at eveni...","{'class_count': 99, 'batch_id': 88346}"
3,1342799,109069,ALLEN DIGITAL,HETVI ASHISH SONI,1002164153,female,PRE-MEDICAL,SPARK PRO LIVE PHASE-I: GUJARATI,13,NaN,NaN,NaN,NaN,91.0,87.0,89,89,89,55,6,72.0,65.0,80,89,"Hi PRE-MEDICAL , is scheduled at evening for 55","{'class_count': 55, 'batch_id': 109069}"
4,1342774,104907,ALLEN DIGITAL,HARSHITA MALAV,1002120774,female,PRE-MEDICAL,ACHIEVER,14,NaN,NaN,NaN,NaN,0.0,0.0,4,4,4,49,5,81.0,1.0,68,4,"Hi PRE-MEDICAL , is scheduled at evening for 49","{'class_count': 49, 'batch_id': 104907}"
5,1252987,99376,AHMEDABAD,JAIN JANVEE JIGNESHBHAI,1000674114,female,PRE-MEDICAL,LEADER,13,0.0,0.0,0.0,0.0,0.0,12.0,50,50,50,56,4,NaN,NaN,80,50,"Hi PRE-MEDICAL , is scheduled at evening for 56","{'class_count': 56, 'batch_id': 99376}"
6,1030160,88346,SIKAR,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,NaN,NaN,0,147,33,1014,24,NaN,NaN,32,59,"Hi JEE MAIN + ADVANCED , is scheduled at eveni...","{'class_count': 1014, 'batch_id': 88346}"
7,1342635,108831,ALLEN DIGITAL,ATA UR RAHMAN SYED,1002163472,male,PRE-NURTURE,"CRASH COURSE CLASS 10 CBSE Board: Sci, Math, E...",10,NaN,NaN,NaN,NaN,18.0,19.0,19,19,19,36,9,54.0,16.0,48,19,"Hi PRE-NURTURE , is scheduled at evening for 36","{'class_count': 36, 'batch_id': 108831}"
8,1298552,94278,ALLEN DIGITAL,HARINI K,1002142805,female,PRE-MEDICAL,NURTURE,11,259.0,259.0,100.0,100.0,100.0,80.0,75,118,66,169,5,93.0,55.0,83,66,"Hi PRE-MEDICAL , is scheduled at evening for 169","{'class_count': 169, 'batch_id': 94278}"
9,1284442,97097,ALLEN DIGITAL,AYUKTA MUKHERJEE,1002140071,female,PRE-NURTURE,CLASS 6 FOUNDATION JEE-NEET LIVE + OLYMPIADS R...,6,545.0,445.0,279.0,230.0,75.0,60.0,54,131,60,183,14,53.0,41.0,52,63,"Hi PRE-NURTURE , is scheduled at evening for 183","{'class_count': 183, 'batch_id': 97097}"
10,1210479,89041,ALLEN DIGITAL,RIMANSANHA O NAJIAR,1002128530,male,PRE-MEDICAL,LEADER,13,799.0,599.0,200.0,200.0,68.0,54.0,64,119,65,354,5,95.0,71.0,88,62,"Hi PRE-MEDICAL , is scheduled at evening for 354","{'class_count': 354, 'batch_id': 89041}"
0,1290116,101802,KOTA,TANISH MANGLA,1000688876,male,PRE-MEDICAL,ACHIEVER,14,0.0,0.0,0.0,0.0,0.0,34.0,75,142,81,326,14,NaN,NaN,84,81,There are many 14 who are having nan,"{'attendance_10d': 34.0, 'batch_id': 101802, '..."
1,1342611,104907,ALLEN DIGITAL,DIKSHA,1002164048,female,PRE-MEDICAL,ACHIEVER,14,81.0,81.0,81.0,81.0,100.0,92.0,91,91,91,49,5,81.0,76.0,68,91,There are many 5 who are having 76.0,"{'attendance_10d': 92.0, 'batch_id': 104907, '..."
2,1030160,88346,ALLEN DIGITAL,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,46.0,45.0,43,43,43,99,6,86.0,85.0,71,43,There are many 6 who are having 85.0,"{'attendance_10d': 45.0, 'batch_id': 88346, 's..."
3,1342799,109069,ALLEN DIGITAL,HETVI ASHISH SONI,1002164153,female,PRE-MEDICAL,SPARK PRO LIVE PHASE-I: GUJARATI,13,NaN,NaN,NaN,NaN,91.0,87.0,89,89,89,55,6,72.0,65.0,80,89,There are many 6 who are having 65.0,"{'attendance_10d': 87.0, 'batch_id': 109069, '..."
4,1342774,104907,ALLEN DIGITAL,HARSHITA MALAV,1002120774,female,PRE-MEDICAL,ACHIEVER,14,NaN,NaN,NaN,NaN,0.0,0.0,4,4,4,49,5,81.0,1.0,68,4,There are many 5 who are having 1.0,"{'attendance_10d': 0.0, 'batch_id': 104907, 's..."
5,1252987,99376,AHMEDABAD,JAIN JANVEE JIGNESHBHAI,1000674114,female,PRE-MEDICAL,LEADER,13,0.0,0.0,0.0,0.0,0.0,12.0,50,50,50,56,4,NaN,NaN,80,50,There are many 4 who are having nan,"{'attendance_10d': 12.0, 'batch_id': 99376, 's..."
6,1030160,88346,SIKAR,ANSHIKA AGARWAL,1000570011,female,JEE MAIN + ADVANCED,NURTURE,11,0.0,0.0,0.0,0.0,NaN,NaN,0,147,33,1014,24,NaN,NaN,32,59,There are many 24 who are having nan,"{'attendance_10d': nan, 'batch_id': 88346, 'st..."
7,1342635,108831,ALLEN DIGITAL,ATA UR RAHMAN SYED,1002163472,male,PRE-NURTURE,"CRASH COURSE CLASS 10 CBSE Board: Sci, Math, E...",10,NaN,NaN,NaN,NaN,18.0,19.0,19,19,19,36,9,54.0,16.0,48,19,There are many 9 who are having 16.0,"{'attendance_10d': 19.0, 'batch_id': 108831, '..."
8,1298552,94278,ALLEN DIGITAL,HARINI K,1002142805,female,PRE-MEDICAL,NURTURE,11,259.0,259.0,100.0,100.0,100.0,80.0,75,118,66,169,5,93.0,55.0,83,66,There are many 5 who are having 55.0,"{'attendance_10d': 80.0, 'batch_id': 94278, 's..."
9,1284442,97097,ALLEN DIGITAL,AYUKTA MUKHERJEE,1002140071,female,PRE-NURTURE,CLASS 6 FOUNDATION JEE-NEET LIVE + OLYMPIADS R...,6,545.0,445.0,279.0,230.0,75.0,60.0,54,131,60,183,14,53.0,41.0,52,63,There are many 14 who are having 41.0,"{'attendance_10d': 60.0, 'batch_id': 97097, 's..."
10,1210479,89041,ALLEN DIGITAL,RIMANSANHA O NAJIAR,1002128530,male,PRE-MEDICAL,LEADER,13,799.0,599.0,200.0,200.0,68.0,54.0,64,119,65,354,5,95.0,71.0,88,62,There are many 5 who are having 71.0,"{'attendance_10d': 54.0, 'batch_id': 89041, 's..."
1,1342611,104907,ALLEN DIGITAL,DIKSHA,1002164048,female,PRE-MEDICAL,ACHIEVER,14,81.0,81.0,81.0,81.0,100.0,92.0,91,91,91,49,5,81.0,76.0,68,91,"Hi DIKSHA, you have attempted 81.0 in last 30 ...","{'questions_30d': 81.0, 'student_id': 1342611}"
8,1298552,94278,ALLEN DIGITAL,HARINI K,1002142805,female,PRE-MEDICAL,NURTURE,11,259.0,259.0,100.0,100.0,100.0,80.0,75,118,66,169,5,93.0,55.0,83,66,"Hi HARINI K, you have attempted 259.0 in last ...","{'questions_30d': 259.0, 'student_id': 1298552}"
9,1284442,97097,ALLEN DIGITAL,AYUKTA MUKHERJEE,1002140071,female,PRE-NURTURE,CLASS 6 FOUNDATION JEE-NEET LIVE + OLYMPIADS R...,6,545.0,445.0,279.0,230.0,75.0,60.0,54,131,60,183,14,53.0,41.0,52,63,"Hi AYUKTA MUKHERJEE, you have attempted 445.0 ...","{'questions_30d': 445.0, 'student_id': 1284442}"
10,1210479,89041,ALLEN DIGITAL,RIMANSANHA O NAJIAR,1002128530,male,PRE-MEDICAL,LEADER,13,799.0,599.0,200.0,200.0,68.0,54.0,64,119,65,354,5,95.0,71.0,88,62,"Hi RIMANSANHA O NAJIAR, you have attempted 599...","{'questions_30d': 599.0, 'student_id': 1210479}"

In [570]:
final_df.loc[9,"meta_data"]

9              {'class_count': 183, 'batch_id': 97097}
9    {'attendance_10d': 60.0, 'batch_id': 97097, 's...
9      {'questions_30d': 445.0, 'student_id': 1284442}
Name: meta_data, dtype: object

In [571]:
df3

,student_id,batch_id,center,student_name,enrollment_no,gender,student_stream,course_name,student_class,questions_60d,questions_30d,questions_10d,questions_7d,attendance_7d,attendance_10d,attendance_30d,attendance_60d,attendance_90d,class_count,faculty_count,avg_actual_class_duration,avg_student_duration,avg_class_duration,attendance_per,message,meta_data
1,1342611,104907,ALLEN DIGITAL,DIKSHA,1002164048,female,PRE-MEDICAL,ACHIEVER,14,81.0,81.0,81.0,81.0,100.0,92.0,91,91,91,49,5,81.0,76.0,68,91,"Hi DIKSHA, you have attempted 81.0 in last 30 ...","{'questions_30d': 81.0, 'student_id': 1342611}"
8,1298552,94278,ALLEN DIGITAL,HARINI K,1002142805,female,PRE-MEDICAL,NURTURE,11,259.0,259.0,100.0,100.0,100.0,80.0,75,118,66,169,5,93.0,55.0,83,66,"Hi HARINI K, you have attempted 259.0 in last ...","{'questions_30d': 259.0, 'student_id': 1298552}"
9,1284442,97097,ALLEN DIGITAL,AYUKTA MUKHERJEE,1002140071,female,PRE-NURTURE,CLASS 6 FOUNDATION JEE-NEET LIVE + OLYMPIADS R...,6,545.0,445.0,279.0,230.0,75.0,60.0,54,131,60,183,14,53.0,41.0,52,63,"Hi AYUKTA MUKHERJEE, you have attempted 445.0 ...","{'questions_30d': 445.0, 'student_id': 1284442}"
10,1210479,89041,ALLEN DIGITAL,RIMANSANHA O NAJIAR,1002128530,male,PRE-MEDICAL,LEADER,13,799.0,599.0,200.0,200.0,68.0,54.0,64,119,65,354,5,95.0,71.0,88,62,"Hi RIMANSANHA O NAJIAR, you have attempted 599...","{'questions_30d': 599.0, 'student_id': 1210479}"